.wrap {
  width: 100%;
}

.header,
.section,
footer {
  width: 100%;
  height: 100%;

  position: relative;
}

.container {
  width: 100%;

  position: relative;
}

/* header */

.top_header {
  height: 50px;
  justify-content: space-between;
  padding: 0 270px;
  align-items: center;
}

.page_tab {
  width: 40%;
  display: flex;
}

.page_tab li {
  height: 50px;
  text-align: center;
  line-height: 50px;
  padding: 0 15px;
  white-space: nowrap;
}

.page_tab li a {
  transition: 0.5s;
}

.page_tab li:nth-child(1) a {
  color: #003288;
}

.page_tab li:nth-child(1) a {
  margin: 0 10px;
  border-bottom: 2px solid #003288;
}

.page_tab li:hover a {
  color: #003288;
  border-bottom: 2px solid #003288;
}

.lang {
  width: 120px;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  border-right: 1px solid #e6e7e9;
  border-left: 1px solid #e6e7e9;
}

.lang select {
  all: unset;
  font-size: 14px;
  position: relative;
  background: url(../img/chevron-down-solid.svg) no-repeat right;
  background-position: top 3px left 45px;
  background-size: 18%;
  cursor: pointer;
}

#kor {
  width: 55px;
}

.middle_header {
  width: 100%;
  padding: 0 270px;
  height: 107px;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e6e7e9;
  border-bottom: 1px solid #e6e7e9;
  margin: 0 auto;
}

.logo_wrap {
  width: 20%;
  height: 100%;
  align-items: center;
}

.logo_wrap a:nth-child(1) {
  width: 106px;
  height: 58px;
  margin-right: 25px;
}

.logo_wrap a:nth-child(2) {
  width: 165px;
  height: 30px;
}

.logo_wrap img {
  width: 100%;
  height: 100%;
}

form {
  width: 100%;
}

.search_wrap {
  width: 470px;
  height: 58px;
  position: relative;
  background-color: #003288;
  border-radius: 14px;
  padding: 2px;
  margin-left: -30px;
}

#search_icon {
  all: unset;
  width: 471px;
  height: 58px;
  cursor: pointer;
}

#search {
  width: 407px;
  height: 54px;
  border-radius: 12px 0 0 12px;
  position: absolute;
  top: 2px;
  left: 2px;
  font-weight: 900;
}

#search::placeholder {
  color: #000;
}

.keyborad {
  position: absolute;
  top: 18px;
  right: 75px;
  color: #d1d3df;
  font-size: 18px;
}

#search_icon {
  width: 62px;
  height: 56px;
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  font-size: 20px;
  text-align: center;
}

.sun {
  width: 41px;
  height: 38px;
  background: url(../img/weather.png) no-repeat left / cover;
}

.tem {
  margin: 0 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.tem_num {
  font-size: 20px;
}

.tem_date {
  font-size: 13px;
}

.dust {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-end;
}

.dust p {
  font-size: 13px;
  margin-top: 3px;
}

.dust_round {
  width: 14px;
  height: 14px;
  margin-top: 4px;
  margin-left: 4px;
  background: url(../img/weather2.png) no-repeat left / cover;
}

.bad_dust .dust_round {
  background-position: center center;
}

.menu_header {
  width: 100%;
  height: 65px;
  border-bottom: 1px solid #e6e7e9;
  padding: 0 270px;
  position: relative;
}

.menu_wrap {
  width: 50%;
  height: 100%;
  line-height: 65px;
  justify-content: center;
  margin: 0 auto;
}

.menu_wrap li {
  width: 195px;
  height: 100%;
  text-align: center;
  font-size: 22px;
}

.menu_wrap li a {
  display: inline-block;
  transition: 0.5s;
}

.menu_wrap li:hover a {
  color: #003288;
}

.menu_wrap li:hover a {
  border-bottom: 3px solid #003288;
}

.all_menu {
  width: 135px;
  height: 33px;
  padding: 0 18px;
  background-color: #ecf6ff;
  position: absolute;
  right: 270px;
  top: 16.5px;
  border-radius: 17px;
  align-items: center;
  justify-content: space-between;
  color: #003288;
  font-size: 14px;
  cursor: pointer;
  transition: 0.5s;
}

.all_menu:hover {
  background-color: #003288;
  color: #fff;
}

/* section_1 */

.sec_1 {
  width: 100%;
  padding: 40px 300px;
  background-color: #edf6fb;
}

.sec_1 .container {
  align-items: center;
  justify-content: space-between;
  background-color: #edf6fb;
}

.quick_menu_title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 18px;
}

.quick_menu_title h3:nth-child(1) {
  color: #003288;
  animation: big 1s ease-in-out;
}

.quick_menu_title h3:nth-child(2) {
  color: #707173;
  margin-top: 6px;
  margin-bottom: 17px;
  animation: big 1s 0.5s ease-in-out;
}

@keyframes big {
  0% {
    transform: scale(1);
    font-weight: 800;
  }

  50% {
    transform: scale(1.2);
    font-weight: 900;
  }

  100% {
    transform: scale(1);
    font-weight: 800;
  }
}

.quick_menu_sub {
  color: #707173;
}

.quick_menu_wrap li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-left: 50px;
}

.quick_menu_wrap li > a {
  margin-bottom: 10px;
}

.quick_main {
  white-space: nowrap;
  position: relative;
}

.quick_main a::after {
  content: "";
  display: inline-block;
  position: absolute;
  width: 0%;
  height: 12px;
  border-radius: 0;
  background-color: #86bdf7;
  opacity: 0.3;
  top: 6px;
  left: 0%;
  transition: all 0.4s;
}

.quick_menu_wrap li:hover .quick_main a::after {
  width: 100%;
}

.quick_menu_wrap li:nth-child(2) .quick_main a::before {
  display: inline-block;
  content: "";
  position: absolute;
  width: 0%;
  height: 12px;
  border-radius: 0;
  background: #86bdf7;
  opacity: 0.3;
  z-index: 0;
  top: 27px;
  left: 0%;
  transition: all 0.4s 0.3s;
}

.quick_menu_wrap li:nth-child(2):hover .quick_main a::before {
  width: 100%;
}

.quick_menu_wrap li:nth-child(8) .quick_main a::before {
  display: inline-block;
  content: "";
  position: absolute;
  width: 0%;
  height: 12px;
  border-radius: 0;
  background: #86bdf7;
  opacity: 0.3;
  z-index: 0;
  top: 27px;
  left: 0%;
  transition: all 0.4s 0.3s;
}

.quick_menu_wrap li:nth-child(8):hover .quick_main a::before {
  width: 100%;
}

/* section_2 */

.sec_2 .container {
  padding: 40px 270px;
  justify-content: space-between;
}

.main_wrap {
  width: 840px;
  height: 450px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-right: 40px;
}

.main_img_wrap li {
  position: absolute;
  top: 0;
  left: 0;
}

.alderman {
  width: 485px;
  height: 450px;
  border-radius: 10px;
  overflow: hidden;
}

.alder_top {
  height: 300px;
  padding: 68px 0 0 58px;
  width: 100%;
  background: url(../img/alderman.png) no-repeat right/contain;
  background-color: #f7fbfd;
}

.alder_title_wrap > p {
  font-size: 20px;
  color: #222;
  user-select: none;
}

.alder_title_wrap h3 {
  font-size: 26px;
  color: #003288;
  margin: 15px 0 30px;
  user-select: none;
}

.promise_wrap a {
  width: 177px;
  height: 40px;
  background-color: #fff;
  box-shadow: 2px 2px 2px rgb(237, 237, 237);
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 22px;
  color: #333;
}

.promise_wrap a:nth-child(2) {
  margin-top: 10px;
}

.promise_wrap i {
  font-size: 8px;
  color: #003288;
  color: #333;
}

.alder_bottom {
  width: 100%;
  height: 150px;
  background-color: #003288;
  padding: 33px 52px;
  justify-content: space-between;
}

.alder_bottom li {
  height: 100%;
  position: relative;
}

.alder_bottom li::after {
  content: "";
  display: block;
  width: 0.5px;
  height: 26px;
  background-color: #fff;
  position: absolute;
  right: -40px;
  top: 20px;
}

.alder_bottom li:last-child::after {
  display: none;
}

.alder_bottom a {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.alder_bottom img {
  height: 50px;
  margin-bottom: 15px;
}

/* section_3 */

.sec_3 .container {
  padding: 0 270px;
  justify-content: space-between;
}

.news_wrap {
  width: 840px;
  margin-right: 40px;
}

.news_wrap input {
  display: none;
}

.news_title_wrap {
  width: 100%;
  align-items: baseline;
}

.news_title_wrap .title {
  margin-right: 14px;
}

.title {
  font-size: 26px;
}

.sub {
  color: #9a9a9a;
}

.new_label_wrap {
  width: 100%;
  height: 57px;
  border-radius: 10px;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  margin: 20px 0 38px;
}

.new_label_wrap label {
  width: 195px;
  height: 57px;
  border: 1px solid #e6e7e9;
  text-align: center;
  line-height: 57px;
  transition: 0.5s;
  font-size: 20px;
  color: #222;
  cursor: pointer;
}

.new_label_wrap label:first-child {
  border-radius: 10px 0 0 10px;
}

.new_label_wrap label:last-child {
  width: 64px;
  height: 57px;
  border-radius: 0 10px 10px 0;
}

#news_1:checked ~ .new_label_wrap #news_menu_1 {
  background-color: #003288;
  border-radius: 10px;
  border: 0;
  color: #fff;
}

#news_1:checked ~ .new_label_wrap #news_menu_2,
.new_label_wrap #news_menu_3,
.new_label_wrap #news_menu_4 {
  background-color: #fff;
  border-radius: 0;
  border: 1px solid #e6e7e9;
  color: #222;
}

#news_1:checked ~ .new_1_menu {
  display: flex;
}

#news_1:checked ~ .new_2_menu,
.new_3_menu,
.new_4_menu {
  display: none;
}

#news_2:checked ~ .new_label_wrap #news_menu_2 {
  background-color: #003288;
  border-radius: 10px;
  border: 0;
  color: #fff;
}

#news_2:checked ~ .new_label_wrap #news_menu_1 {
  background-color: #fff;
  border-radius: 10px 0 0 10px;
  border: 1px solid #e6e7e9;
  color: #222;
}

#news_2:checked ~ .new_label_wrap #news_menu_3,
.new_label_wrap #news_menu_4 {
  background-color: #fff;
  border-radius: 0;
  border: 1px solid #e6e7e9;
  color: #222;
}

#news_2:checked ~ .new_2_menu {
  display: flex;
}

#news_2:checked ~ .new_1_menu,
.new_3_menu,
.new_4_menu {
  display: none;
  height: 0;
}

#news_3:checked ~ .new_label_wrap #news_menu_3 {
  background-color: #003288;
  border-radius: 10px;
  border: 0;
  color: #fff;
}

#news_3:checked ~ .new_label_wrap #news_menu_1 {
  background-color: #fff;
  border-radius: 10px 0 0 10px;
  border: 1px solid #e6e7e9;
  color: #222;
}

#news_3:checked ~ .new_3_menu {
  display: flex;
}

#news_3:checked ~ .new_1_menu,
.new_2_menu,
.new_4_menu {
  display: none;
}

#news_3:checked ~ .new_label_wrap #news_menu_2,
.new_label_wrap #news_menu_4 {
  background-color: #fff;
  border-radius: 0;
  border: 1px solid #e6e7e9;
  color: #222;
}

#news_4:checked ~ .new_label_wrap #news_menu_4 {
  background-color: #003288;
  border-radius: 10px;
  border: 0;
  color: #fff;
}

#news_4:checked ~ .new_label_wrap #news_menu_1 {
  background-color: #fff;
  border-radius: 10px 0 0 10px;
  border: 1px solid #e6e7e9;
  color: #222;
}

#news_4:checked ~ .new_label_wrap #news_menu_2,
.new_label_wrap #news_menu_3 {
  background-color: #fff;
  border-radius: 0;
  border: 1px solid #e6e7e9;
  color: #222;
}

#news_4:checked ~ .new_4_menu {
  display: flex;
}

#news_4:checked ~ .new_2_menu,
.new_3_menu,
.new_1_menu {
  display: none;
}

#news_plus:hover {
  border: #003288;
  cursor: pointer;
}

.n_menu_title {
  font-size: 18px;
  color: #000;
}

.n_menu_sub {
  color: #3f4342;
  margin: 22px 0;
}

.news_menu_wrap {
  width: 100%;
  justify-content: space-between;
}

.news_menu_wrap li {
  width: 240px;
  height: 224px;
}

.news_menu_wrap li a {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.n_menu_date {
  width: 100%;
  height: 60px;
  border-top: 1px solid #e6e7e9;
  border-bottom: 1px solid #e6e7e9;
  justify-content: space-between;
  align-items: center;
}

.n_menu_date .medium {
  font-size: 14px;
  color: #9a9a9a;
}

.n_menu_date .flex {
  font-size: 12px;
  color: #bbb;
}

.n_menu_date .flex i {
  font-size: 12px;
  color: #bbb;
  margin-right: 8px;
}

.page {
  margin-right: 20px;
  color: #1f2322;
}

.page p:nth-child(1) {
  color: #003288;
}

.stop i {
  font-size: 10px;
  cursor: pointer;
}

.stop_btn {
  margin: 0 20px;
}

.event_wrap {
  width: 485px;
  height: 100%;
}

.event_top {
  justify-content: space-between;
  align-items: center;
}

.event_bottom {
  width: 100%;
  height: 316px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 22px;
  position: relative;
}

.event_img_wrap li {
  position: absolute;
  top: 0;
  left: 0;
}

.event_bottom img {
  width: 485px;
  height: 100%;
  object-fit: cover;
}

/* section_4 */

.sec_4 {
  position: relative;
}

.sec_4 .container {
  padding: 80px 270px 40px;
  position: relative;
}

.sec_4 .container:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 260px;
  width: 100%;
  height: 697px;
  background-color: #edf6fb;
  z-index: -1;
}

.fun_menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  left: 270px;
  top: 140px;
}

.fun_menu .title {
  margin-bottom: 12px;
}

.place_input_wrap {
  width: 100%;
  height: 355px;
  justify-content: space-between;
  align-items: center;
}

.place_input_wrap input {
  display: none;
}

.fun_menu_label {
  width: 250px;
  height: 65px;
  border: 1px solid #003288;
  background-color: #fff;
  border-radius: 68px;
  align-items: center;
  justify-content: space-between;
  padding: 9px 11px;
  margin-right: 150px;
}

.fun_menu_label label {
  width: 100px;
  height: 47px;
  border-radius: 47px;
  background-color: #ffffff;
  text-align: center;
  line-height: 47px;
  transition: 0.5s;
}

.fun_menu_label label i {
  display: none;
}

#place:checked ~ .fun_menu_label #place_label {
  width: 120px;
  height: 47px;
  border-radius: 47px;
  background-color: #003288;
  color: #fff;
  line-height: 47px;
  text-align: center;
}

#place:checked ~ .fun_menu_label i {
  display: block;
  color: #fff;
  float: left;
  margin-top: 14px;
  margin-left: 10px;
}

#place:checked ~ .fun_list {
  display: block;
}

#place:checked ~ .fes_list {
  display: none;
}

#festival:checked ~ .fun_menu_label #festival_label {
  width: 120px;
  height: 47px;
  border-radius: 47px;
  background-color: #003288;
  color: #fff;
  line-height: 47px;
  text-align: center;
}

#festival:checked ~ .fun_menu_label i {
  display: block;
  color: #fff;
  float: left;
  margin-top: 14px;
  margin-left: 10px;
}

#festival:checked ~ .fun_list {
  display: none;
}

#festival:checked ~ .fes_list {
  display: block;
}

.fun_list {
  width: 990px;
  height: 355px;
  /* background-color: red; */
  /* overflow: hidden; */
  padding-bottom: 5px;
  position: relative;
}

.fes_list {
  width: 990px;
  height: 355px;
  /* background-color: red; */
  /* overflow: hidden; */
  padding-bottom: 5px;
  position: relative;
}

.fun_img_wrap {
  width: max-content;
  height: 355px;
  position: absolute;
  left: 0;
  top: 0;
}

.fun_img_wrap li {
  width: 300px;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  margin-right: 30px;
  position: relative;
}

.fun_img_wrap li:last-child {
  margin-right: 0;
}

.fun_img_wrap img {
  width: 100%;
  height: 275px;
  object-fit: cover;
}

.fun_img_bottom {
  height: 80px;
  width: 100%;
  background-color: #fff;
  padding: 15px 0 21px;
  text-align: center;
}

.fun_img_bottom .semi {
  margin-bottom: 7px;
  font-size: 18px;
  color: #1f2322;
}

.fun_img_bottom p {
  margin-bottom: 7px;
  font-size: 14px;
  color: #9a9a9a;
}

.arrow_btn {
  position: absolute;
  bottom: 60px;
  left: 270px;
}

.arrow_btn ::after {
  content: "";
  display: block;
  position: absolute;
  left: 130px;
  top: 25px;
  width: 220px;
  height: 1px;
  background-color: #003288;
}

.arrow_btn .left {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border: 1px solid #c1c6cc;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 14px;
  color: #003288;
  margin-right: 11px;
}

.arrow_btn .right {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border: 1px solid #c1c6cc;
  border-radius: 50%;
  text-align: center;
  font-size: 14px;
  color: #003288;
  line-height: 50px;
}

/* section_5 */

.sec_5 .container {
  padding: 0 270px;
  justify-content: space-between;
}

.media_wrap {
  width: 930px;
  height: 386px;
  border: 1px solid rgb(231, 231, 231);
  background-color: #fff;
  border-radius: 10px;
  padding: 54px 60px;
  position: relative;
}

.media_title {
  align-items: baseline;
}

.media_title .title {
  margin-right: 14px;
}

.meida_arrow_wrap {
  width: 930px;
  height: 100%;
  justify-content: space-between;
  position: relative;
  top: -30px;
  left: -60px;
  align-items: center;
}

.media_left_arrow {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border: 1px solid #c1c6cc;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  font-size: 14px;
  color: #003288;
  margin-right: 11px;
  position: relative;
  left: -25px;
}

.media_right_arrow {
  width: 50px;
  height: 50px;
  background-color: #fff;
  border: 1px solid #c1c6cc;
  border-radius: 50%;
  text-align: center;
  font-size: 14px;
  color: #003288;
  line-height: 50px;
  position: relative;
  left: 25px;
}

.media_list {
  width: 818px;
  height: 220px;
  position: absolute;
  left: 56px;
  top: 114px;
  overflow: hidden;
}

.media_img_wrap {
  width: auto;
  position: absolute;
  top: 0;
  left: 0;
}

.media_img_wrap li {
  width: 192px;
  margin-right: 15px;
}

.media_img_wrap li:last-child {
  margin-right: 15px;
}

.img_box {
  width: 100%;
  height: 145px;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 15px;
}

.img_box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.media_menu_title {
  color: #222;
}

.subscribe {
  width: 390px;
  height: 243px;
  background-color: #003288;
  margin-left: 40px;
  border-radius: 10px;
  padding: 48px 40px;
  color: #fff;
}

.subs_date {
  font-size: 18px;
}

.subs_title {
  margin-top: 13px;
  margin-bottom: 30px;
}

.subs_title h3 {
  font-size: 26px;
}

.subs_title p {
  font-size: 12px;
}

.subs_btn_wrap {
  width: 190px;
  height: 38px;
  background-color: #fff;
  border-radius: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 25px;
}

.subs_btn_wrap a {
  color: #222;
  font-size: 15px;
}

.subs_btn_wrap a:nth-child(1) {
  border-right: 1px solid #ddd;
  padding-right: 18px;
}

.subs_img {
  width: 100px;
  height: 150px;
  margin-left: 18px;
}

.subs_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sns {
  width: 390px;
  background-color: #fff;
  height: 103px;
  margin-left: 40px;
  margin-top: 40px;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 0 46px;
  color: #1f2322;
}

.sns_icon_wrap {
  justify-content: flex-end;
  align-items: center;
}

.sns_icon_wrap img {
  height: 100%;
  object-fit: cover;
}

.sns_icon_wrap li {
  width: 20px;
  height: 20px;
  margin-left: 18px;
}

.sns_icon_wrap li:first-child {
  margin-left: 0;
}

.sns_icon_wrap li:nth-child(2) {
  margin-left: 8px;
  margin-right: 2px;
}

.sns_icon_wrap li:nth-child(2),
.sns_icon_wrap li:nth-child(3),
.sns_icon_wrap li:nth-child(4),
.sns_icon_wrap li:nth-child(5) {
  margin-top: 6px;
}
/* footer */

footer {
  margin-top: 80px;
}

footer .container {
  padding: 0 270px 80px;
  overflow-x: hidden;
}

.f_top {
  width: auto;
  height: 64px;
  background-color: #003288;
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 18.635%;
  justify-content: space-between;
  align-items: center;
  margin-left: -70px;
  line-height: 64px;
}

.f_top .select {
  width: 300px;
  height: 100%;
}

.f_top select {
  all: unset;
  color: #fff;
  font-size: 14px;
  padding: 0 40px;
}

#center,
#city,
#agency,
#banner {
  width: 260px;
  display: block;
}

.f_top option {
  justify-content: space-between;
}

.f_bottom {
  margin-top: 104px;
  justify-content: space-between;
}

.f_menu {
  margin-bottom: 40px;
}

.f_menu a {
  font-size: 14px;
  color: #222;
}

.f_menu li {
  padding: 0 50px;
  display: inline;
  border-right: 1px solid #999999;
}

.f_menu li:hover {
  text-decoration: underline;
}

.f_menu li:nth-child(1) {
  padding-left: 0;
}

.f_menu li:nth-child(1) a {
  color: #003288;
}

.f_menu li:last-child {
  border-right: 0;
}

.plus {
  font-size: 14px;
  color: #222;
}

.copy {
  font-size: 14px;
  color: #bbb;
  margin-top: 10px;
}

.f_logo {
  align-items: baseline;
}

.f_logo img:nth-child(1) {
  width: 47px;
  height: 35px;
}

.f_logo img:nth-child(2) {
  width: 100px;
  height: 70px;
  margin-left: 26px;
}

/* top_btn */

.top_btn {
  width: 77px;
  height: 77px;
  background-color: #003288;
  border-radius: 77px;
  position: fixed;
  bottom: 80px;
  right: 110px;
  font-size: 14px;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}

.top_btn a {
  color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.top_btn p {
  margin-top: 6px;
}
